header {
    height: 50px;
    background-color: #ccc;
}

/* ใช้งาน float กับ %ความกว้าง */
section {
    height: 300px;
    width: 40%;
    float: left;
    background-color: #DDD;
}


/* ใช้งาน float กับ %ความกว้าง */
aside {
    height: 300px;
    width: 40%;
    float: right;
    background-color: rgb(165, 161, 161);
}

footer {
    height: 60px;
    background-color: rgb(117, 117, 117);
}

/* %ความกว้างของ float ไม่เต็ม100 ต้องแก่ไขบักด้วย clear */
.clear {
    /* clear: left;
    clear: right; */
    clear: both;
}